{% extends 'mainbase.html' %}
{% load static %}

{% block main %}
             

                <main>
                {% comment %} the head banner {% endcomment %}

            
                 <div class="card bg-dark text-white" style="margin-top:">
                <img src="{% static 'myapps/image/home_image.png' %}" class="card-img" alt="...">
                <div class="card-img-overlay ml-auto">
                    <h5 class="card-title">Mortgage Calculator</h5>
                    <p class="card-text"> </p>
                    
                </div>
                </div>
                    <div class="container-fluid">
                      {% comment %} <div class = "mycontainer"> {% endcomment %}

                        
                        <ol class="breadcrumb mb-4">
                            {% comment %} <li class="breadcrumb-item active">Dashboard</li> {% endcomment %}
                            
                        </ol>
                        
                        <div class="row">
                            <div class="col-xl-6  col-md-6" style="margin-bottom:20px">
                            <div class="card" style="width: auto; background-color:#4F5D75">
                                       
                                        <div class="card-body">
                                        <div class="card-header">
                                           <h5 class="card-title text-center">Mortgage calculator</h5>
                                        </div>
                                        <form>
                                            <div class="form-row">
                                                <div class="col-6 mb-4 mt-3">
                                                <h5> Home price</h5>
                                                </div>
                                                <div class="col mt-3">
                                                <input type="text" class="form-control" placeholder="$">
                                                </div>

                                                <div class="col-6 mb-4">
                                                <h5> Down payment</h5>
                                                </div>
                                                <div class="col">
                                                <input type="text" class="form-control" placeholder="$">
                                                </div>

                                                 <div class="col-6 mb-4">
                                                <h5> Loan term </h5>
                                                </div>
                                                <div class="col">
                                                <input type="text" class="form-control" placeholder="years">
                                                </div>

                                                 <div class="col-6 mb-4">
                                                <h5> Interest rate </h5>
                                                </div>
                                                <div class="col">
                                                <input type="text" class="form-control" placeholder="%">
                                                </div>

                                                 <div class="col-6 mb-4">
                                                <h5> Start Date</h5>
                                                </div>
                                                <div class="col">
                                                <input type="text" class="form-control" placeholder="month">
                                                </div>
                                                <div class="col">
                                                <input type="text" class="form-control" placeholder="year">
                                                </div>







                                                
                        
                                            </div>
                                        </form>
             
                                        </div>
                                    </div>
                                
                                
                            </div>
                               
                        </div>
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        {% comment %} <i class="fas fa-chart-area mr-1"></i>
                                        Calculators {% endcomment %}
                                    </div>
                                    <div class="card-body">
                                      {% comment %} my input {% endcomment %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                            
                                {% comment %} <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-bar mr-1"></i>
                                        None 
                                    </div>
                                    <div class="card-body"></div>
                                </div> {% endcomment %}
                            
                            </div>
                        </div> 

                      {% comment %} </div> {% endcomment %}
                    </div>
                </main>
{% endblock %}